
@model IEnumerable<E_Learning.Models.SubjectClass>

@{
    ViewBag.Title = "list";
}

<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <h2> @ViewBag.StuName</h2>
        </div>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="box ">
                        <h3>@item.Subject.SubName</h3>
                        <ul>
                            <li>@item.Notes </li>

                        </ul>
                        <div class="btn-wrap">
                            @Html.ActionLink("Choose Teacher", "ListOFTeacher", new { id = item.SubLevelID }, new { @class = "btn btn-warning" })
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</section>
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
