@model IEnumerable<E_Learning.Models.TeacherClass>

@{
    ViewBag.Title = "chooseTeacher";
}

<h2>chooseTeacher</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Teacher.TeachName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.TeachName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeaLevelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeaLevelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeaLevelID })
        </td>
    </tr>
}

</table>
